@import "./addition/reset.css";
@import "./addition/mixin";
@import "./addition/vars";

@import "./components/header";
@import "./components/main";
@import "./components/features";
@import "./components/users";
@import "./components/manage";
@import "./components/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class*="__container"] {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 1550px) {
  [class*="__container"] {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 20px;
  }
}

.background {
  background: linear-gradient(
    164.23deg,
    #064d5e 0%,
    #00546d 20.18%,
    #013050 59.04%,
    #003054 93.86%
  );
  color: white;
  min-height: 100vh;

  &.light {
    background: white;
    color: #003054;

    // Застосування стилів до всіх елементів
    a,
    h1,
    p,
    div {
      color: #003054;
    }

    // Виключаємо секції .users і .footer
    .users,
    .users a,
    .users p,
    .users div {
      color: white;
    }
    .users h1 {
      color: black;
    }
    .footer,
    .footer a,
    .footer h1,
    .footer p,
    .footer div {
      color: black;
    }

    //header

    .header {
      &__theme button {
        background-color: #01405d;
        color: white;
      }

      .ananas {
        display: none;
      }

      &__burger-menu {
        span {
          background: linear-gradient(
            164.23deg,
            #064d5e 0%,
            #00546d 20.18%,
            #013050 59.04%,
            #003054 93.86%
          );
        }
      }

      .menu {
        @media (max-width: 650px) {
          background: linear-gradient(170.4deg, #ffa800 10.28%, #e28505 93.01%);
        }
      }
    }

    .google-play {
      position: relative;
      .main-orange {
        position: absolute;
        content: "";
        background-image: url("../img/features/main-light-orange-small.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: -60px;
        left: 70px;
        width: 150px;
        height: 150px;
        z-index: -1;
        display: none;

        @media (max-width: 650px) {
          display: block;
        }
      }
    }

    // Main

    .main {
      .half-orange {
        display: none;
      }

      &-orange {
        display: none;
      }

      &-light-orange {
        position: absolute;
        content: "";
        background-image: url("../img/main/main-light-orange.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: -30px;
        left: -20%;
        max-width: 1000px;
        width: 100%;
        height: 100%;

        @media (max-width: 1400px) {
          left: -250px;
          max-width: 800px;
        }
        @media (max-width: 798px) {
          left: -300px;
          max-width: 700px;
        }

        @media (max-width: 500px) {
          left: -200px;
          max-width: 700px;
        }
      }

      &-light-ananas {
        position: absolute;
        top: 60px;
        right: 0;
        content: "";
        background-image: url("../img/header/ananas.png");
        background-repeat: no-repeat;
        background-size: contain;
        //185 = 85
        max-width: clamp(5.313rem, 3.618rem + 8.47vw, 11.563rem);
        width: 100%;
        height: 417px;
        @media (max-width: 798px) {
          display: none;
        }
      }

      &-light-orange-small {
        position: absolute;
        content: "";
        background-image: url("../img/features/main-light-orange-small.png");
        background-repeat: no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        max-width: 427px;
        width: 100%;
        height: 555px;
        z-index: 1;
        bottom: -100px;
        @media (max-width: 1550px) {
          max-width: 327px;
          height: 455px;
          left: 55%;
        }

        @media (max-width: 1150px) {
          //227 = 120
          max-width: clamp(7.5rem, 5.686rem + 9.07vw, 14.188rem);
          //300 = 150
          height: clamp(9.375rem, 6.833rem + 12.71vw, 18.75rem);
          left: 60%;
          bottom: 200px;
        }
        @media (max-width: 650px) {
          display: none;
        }
      }
    }

    // Features

    .features {
      .orange {
        display: none;
      }
    }

    // Users

    .cherry {
      top: 0;
    }
  }
}
