.main {
  position: relative;
  padding: 50px 0 0px 0;
  overflow: hidden;
  .half-orange {
    position: absolute;
    content: "";
    background-image: url("../img/main/main-dark-orange.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: -30px;
    right: -490px;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    @media (max-width: 798px) {
      right: -300px;
      max-width: 700px;
    }

    @media (max-width: 500px) {
      right: -200px;
      max-width: 700px;
    }
  }

  .iphone {
    position: absolute;
    content: "";
    background-image: url("../img/main/main-phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    //660 = 250
    max-width: clamp(15.625rem, 7.74rem + 39.42vw, 41.25rem);
    width: 100%;
    height: 100%;
    top: clamp(3.438rem, 3.183rem + 1.27vw, 4.375rem);
    top: 100px;
    right: 30px;
    z-index: 9;
    @media (max-width: 650px) {
      right: 10px;
      top: 70px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: left;
    //100 = 40
    padding-bottom: clamp(2.5rem, 1.483rem + 5.08vw, 6.25rem);
  }

  &__blocks {
    width: 100%;
    z-index: 9;
    text-align: left;
  }

  &__title {
    @include logo-title-low;
    font-size: clamp(1.875rem, 1.221rem + 3.27vw, 4rem);
    max-width: clamp(11.438rem, 1.918rem + 47.6vw, 42.375rem);
    width: 100%;
    margin-bottom: 25px;
    color: white;
  }

  &__descript {
    //512 = 270
    max-width: clamp(16.875rem, 12.221rem + 23.27vw, 32rem);
    width: 100%;
    margin-bottom: 44px;
    @include settings-general;
    font-size: clamp(1rem, 0.962rem + 0.19vw, 1.125rem);
    color: white;
  }

  &__buttons {
    display: flex;
    gap: clamp(0.625rem, 0.24rem + 1.92vw, 1.875rem);

    .mac {
      position: relative;
      z-index: 9;
      .main-orange {
        position: absolute;
        content: "";
        background-image: url("../img/features/main-light-orange-small.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: -60px;
        left: -40px;
        width: 150px;
        height: 150px;
        z-index: -1;
        display: none;

        @media (max-width: 650px) {
          display: block;
          // left: 0;
        }
      }
    }

    .mac img {
      max-width: 250px;
      width: 100%;
      height: clamp(2.5rem, 2.115rem + 1.92vw, 3.75rem);
      -webkit-user-drag: none;
      user-drag: none;
    }

    .google-play img {
      max-width: 205px;
      width: 100%;
      height: clamp(2.5rem, 2.115rem + 1.92vw, 3.75rem);
      -webkit-user-drag: none;
      user-drag: none;
    }
  }
}
