.manage {
  position: relative;
  overflow: hidden;
  .cherry {
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("../img/manage/cherry.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 350px;
    width: 100%;
    height: 250px;
    z-index: 0;
    @media (max-width: 1550px) {
      max-width: 300px;
      height: 220px;
    }

    @media (max-width: 1380px) {
      max-width: 250px;
      height: 180px;
    }

    @media (max-width: 1310px) {
      max-width: 200px;
      height: 150px;
    }

    @media (max-width: 1135px) {
      max-width: 180px;
      height: 120px;
    }

    @media (max-width: 945px) {
      display: none;
    }
  }

  &__phone {
    position: absolute;
    right: 0px;
    top: 0px;
    background-image: url("../img/manage/manage.phone.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    z-index: 1;
    @media (max-width: 1600px) {
      right: -180px;
    }

    @media (max-width: 1445px) {
      right: -350px;
    }

    @media (max-width: 1057px) {
      right: -300px;
      height: 1400px;
      width: 1000px;
    }

    @media (max-width: 765px) {
      right: -250px;
      //1000 = 650
      height: clamp(40.625rem, 34.693rem + 29.66vw, 62.5rem);
      //900 = 750
      width: clamp(46.875rem, 44.333rem + 12.71vw, 56.25rem);
    }

    @media (max-width: 525px) {
      right: -270px;
      width: 700px;
    }
  }

  &__orange {
    position: absolute;
    right: -450px;
    bottom: -250px;
    background-image: url("../img/manage/manage-orange.png");
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 900px;
    width: 100%;
    height: 100%;
    z-index: 0;
    @media (max-width: 800px) {
      right: -350px;
      bottom: -200px;
    }

    @media (max-width: 670px) {
      right: -250px;
      bottom: -300px;
    }

    @media (max-width: 500px) {
      right: -150px;
      bottom: -250px;
    }
  }

  &__blocks {
    position: relative;
    padding: clamp(3.438rem, -0.376rem + 19.07vw, 17.5rem) 0
      clamp(2.188rem, 0.069rem + 10.59vw, 10rem)
      clamp(0rem, -2.712rem + 13.56vw, 10rem);
    z-index: 1;
    @media (max-width: 945px) {
    }
  }

  &__descript {
    max-width: clamp(9.813rem, 3.796rem + 30.08vw, 32rem);
    width: 100%;
    @media (max-width: 945px) {
      margin-bottom: 20px;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    .mac {
      max-width: clamp(11.125rem, 9.871rem + 6.27vw, 15.75rem);
      width: 100%;
    }

    .google-play {
      max-width: clamp(8.813rem, 7.728rem + 5.42vw, 12.813rem);
      width: 100%;
    }

    @media (max-width: 945px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
