.users {
  position: relative;
  background: linear-gradient(170.4deg, #ffa800 10.28%, #e28505 93.01%);
  // padding-top: clamp(2.188rem, 1.933rem + 1.27vw, 3.125rem);
  .strawberry {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 195px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    background-image: url("../img/users/strawberry.png");
    z-index: 1;
    @media (max-width: 945px) {
      display: none;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    z-index: 99;
    text-align: center;
    color: white;
    @include title-general;
    font-size: 64px;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 565px) {
      font-size: 35px;
    }

    @media (max-width: 350px) {
      font-size: 30px;
    }
  }

  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: clamp(1.25rem, 1.047rem + 1.02vw, 2rem);
    padding-bottom: 100px;
    z-index: 9;
    // padding-top: clamp(1.563rem, 1.139rem + 2.12vw, 3.125rem);
    @media (max-width: 945px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 565px) {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 auto;
      width: 335px;
      height: 366px;
      width: 100%;
      justify-content: center;
      padding-bottom: 30px;
    }
  }

  &__block {
    background: linear-gradient(
      164.23deg,
      #064d5e 0%,
      #00546d 20.18%,
      #013050 59.04%,
      #003054 93.86%
    );
    z-index: 9;
    max-width: 480px;
    width: 100%;
    // max-height: 300px;
    border-radius: 10px;
    padding: 25px 30px 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
      margin-bottom: clamp(0.938rem, 0.853rem + 0.42vw, 1.25rem);
      color: white;
      @include logo-title-low;
      font-size: 28px;
    }

    p {
      @include settings-general;
      max-width: 424px;
      width: 100%;
      color: white;
      font-size: 18px;
    }

    @media (max-width: 565px) {
      display: none;
      &.active {
        display: flex;
        margin: 0 auto;
      }
    }
  }

  &__buttons {
    position: absolute;
    top: 80px;
    right: 0px;
    display: flex;
    align-items: center;
    gap: clamp(2.5rem, 1.992rem + 2.54vw, 4.375rem);
    padding-bottom: 70px;
    .btn-user img {
      height: clamp(1.25rem, 0.911rem + 1.69vw, 2.5rem);
      width: clamp(0.625rem, 0.456rem + 0.85vw, 1.25rem);
      @media (max-width: 565px) {
        height: 40px;
        width: 20px;
        gap: 70px;
      }
    }
    @media (max-width: 784px) {
      top: 115px;
    }
    @media (max-width: 565px) {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 70px;
      top: 20px;
    }

    img {
    }

    // i {
    //   font-size: 40px;
    //   color: white;
    //   cursor: pointer;
    // }
  }

  &__above {
    align-content: flex-start;
  }

  &__name {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 25px;
    .someone {
      @include logo-title-low;
      font-size: 26px;
      line-height: 31.69px;
      color: white;
    }

    .date {
      @include settings-general;
      font-size: 18px;
      color: #e58805;
    }
  }

  &__title {
    // margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: clamp(3.563rem, 3.444rem + 0.59vw, 4rem);
    // background-color: #00546d;
    width: 100%;
    // background-color: #003054;
    @media (max-width: 565px) {
      padding-bottom: 20px;
      padding-top: 30px;
      font-size: 35px;
    }
  }
}
